script to look at combingin spending into one consistent set of data

also try to help with auto tagging the spending 

---
So far in this script:

we have:
- read in spending data from first direct and amex
- added in tags from the tagged files taken from pythonista
- put in place a placeholder "untagged" if there is no tag there

In another notbook we can look at inferring tags from relatednes.

In [5]:
ls

20161126_85579686.QIF    20190119_85579686.CSV    data-nov.txt
20170106_85579686.QIF    20190219_85579686.CSV    ofx-1.csv
20170504_85579686.QIF    20190312_85579686.CSV    ofx-2.csv
20170801_85579686.QIF    README.md                ofx-3.csv
20181220_85579686-1.CSV  data-dec.txt             spending_analysis.ipynb
20190109_85579686.CSV    data-jan-19.txt          test-repprt.txt

In [4]:
import csv
import glob
import collections
from difflib import SequenceMatcher

# Read in the data from local disk

In [5]:
def get_first_direct_csv_files():
    fd_csv_files = glob.glob("/Users/ianm/Dropbox/workbench/monthly-tracker/*85579686.CSV")
    return fd_csv_files

In [6]:
def get_amex_csv_files():
    amex_csv_files = glob.glob("/Users/ianm/Dropbox/workbench/monthly-tracker/ofx*")
    return amex_csv_files

In [7]:
fd_csv_files = get_first_direct_csv_files()
amex_csv_files = get_amex_csv_files()

# Process CSV files from first direct

In [8]:
def reformat_fd_date(date):
    reformatted_date_parts = date.split("/")
    reformatted_date = reformatted_date_parts[-1] + "-" + reformatted_date_parts[1] + "-" + reformatted_date_parts[0]
#     print(reformatted_date)
    return reformatted_date

In [9]:
def read_fd_csv_file(filename):
    spends = []
    with open(filename) as csv_file:
        csv_reader = csv.reader(csv_file)
        next(csv_reader) # skip the header row! 
        for row in csv_reader:
            date = reformat_fd_date(row[0])
            description = row[1]
            amount = row[2]
            spends.append((date, description, amount))
    return spends

In [10]:
fd_spending = []
for file in fd_csv_files:
    fd_info = read_fd_csv_file(fd_csv_files[0])
    fd_spending.extend(fd_info)
#     for spend in fd_info:
#         if spend in fd_spending:
#             print(spend), 
#             print("is already added")
#         else:
#            fd_spending.append(spend)

In [11]:
de_duped_fd_spending = list(set(fd_spending))

In [12]:
de_duped_fd_spending.sort()
len(de_duped_fd_spending)

188

# Process files from american express

In [13]:
def read_amex_csv_file(filename):
    spends = []
    with open(filename) as csv_file:
        csv_reader = csv.reader(csv_file)
        next(csv_reader) # skip the header row! 
        for row in csv_reader:
            date = reformat_fd_date(row[0])
            description = row[3]
            amount = row[2]
            spends.append((date, description, amount))
    return spends

In [14]:
amex_spends = []
for file in amex_csv_files:
    amex_spend = read_amex_csv_file(file)
    amex_spends.extend(amex_spend)

In [15]:
de_duped_amexx_spending = list(set(amex_spends))

#Â merge amex and first direct speding.

In [16]:
all_spending = de_duped_fd_spending.copy()
all_spending.extend(de_duped_amexx_spending)
len(all_spending)

419

# get all tagged data that we stored in the other notebook

In [17]:
%store -r all_tagged_data

In [18]:
len(all_tagged_data)

425

# get similarity between all tagged data and already loaded spending data

In [32]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [19]:
matched_count = 0 
for spend in all_tagged_data:
    spend_test_string = spend[0] + spend[1] + spend[2]
    for existing_spend in all_spending:
        check_string = existing_spend[0] + existing_spend[1] + existing_spend[2]
        similar_metric = similar(spend_test_string, check_string)
        if similar_metric > 0.933: # visual inspection tells us these are all matches
            tag = spend[3]
print(matched_count)

0

In [20]:
matched_count = 0 
all_spend_with_tags = []
for existing_spend in all_spending:
    spend_test_string = existing_spend[0] + existing_spend[1] + existing_spend[2]
    spend_with_tags = [existing_spend[0], existing_spend[1], existing_spend[2], "untagged"]
    tag_match = False    
    for spend in all_tagged_data:
        check_string = spend[0] + spend[1] + spend[2]
        similar_metric = similar(spend_test_string, check_string)
        if similar_metric > 0.933: # visual inspection tells us these are all matches
            tag = spend[3]
            spend_with_tags = [existing_spend[0], existing_spend[1], existing_spend[2], tag]
            all_spend_with_tags.append(spend_with_tags)
            tag_match = True
            break
    if not tag_match: all_spend_with_tags.append(spend_with_tags)

In [21]:
len(all_spend_with_tags)

419

In [19]:
%store all_spend_with_tags

Stored 'all_spend_with_tags' (list)

In [23]:
%store -r all_spend_with_tags

In [24]:
all_spend_with_tags[0:3]

[['2018-12-18', '404758 85579694    INTERNAL TRANSFER', '130.00', 'untagged'],
 ['2018-12-18', 'AMERICAN EXPRESS   WWW.AMERICANE', '-393.17', 'untagged'],
 ['2018-12-18', 'CO-OP GROUP FOOD   108942', '-3.15', 'food']]

# try to do some auto-tagging guess work on the now clean tagged data

In [20]:
tagged_list = []
untagged_list = []
for spend in all_spend_with_tags:
    if spend[3] == 'untagged':
        untagged_list.append(spend)
    else:
        tagged_list.append(spend)

In [21]:
%store tagged_list

Stored 'tagged_list' (list)

In [22]:
%store untagged_list

Stored 'untagged_list' (list)

In [57]:
#TODO have a think about this function, as I've created a number of bugs in it, and it's a little bit subtle
def create_groups(spending_list):
    processed = []
    spending_groups = []
    compare_list = spending_list.copy()
    for spend in spending_list:
        grouping = []
        if spend not in processed: grouping.append(spend) # this was it, this was where the problem was! 
        processed.append(spend) # this is our memory
        compare_list.remove(spend)
        for compare in compare_list: # look at all of the other items in the comparison group 
            similar_metric = similar(spend[1], compare[1])
            if similar_metric > 0.6:
                if compare not in processed:
                    grouping.append(compare)
                    processed.append(compare)  
        if grouping: spending_groups.append(grouping) # only add groups that are non-empty
    return spending_groups

In [49]:
untagged_groups = create_groups(untagged_list)
tagged_groups = create_groups(tagged_list)

In [119]:
total = 0
for group in untagged_groups:
    group_items = len(group)
    total += group_items
total, len(untagged_groups)

(183, 183)

In [50]:
len(untagged_groups)

71

In [54]:
total = 0
for group in tagged_groups:
    group_items = len(group)
    total += group_items
total, len(tagged_list), len(tagged_groups)

(236, 236, 72)

In [116]:
len(untagged_list)

183

In [35]:
len(all_spend_with_tags), len(untagged_list), len(tagged_list)

(419, 183, 236)

In [36]:
%store tagged_groups

Stored 'tagged_groups' (list)

In [37]:
%store untagged_groups

Stored 'untagged_groups' (list)

# let's try to infer tags based on old tag groups

In [38]:
%store -r

In [55]:
untagged_groups[-30:]

[[['2019-02-23', 'MOSLER A C G       FLIGHT', '600.00', 'untagged']],
 [['2019-02-25', 'BREAD AND BUTTER   LONDON', '-35.35', 'untagged'],
  ['2018-10-19', 'BROADWAY HAIR LONDON', ' 20.00', 'untagged']],
 [['2019-02-25', 'WWW.RMG.CO.UK      WWW', '-21.35', 'untagged']],
 [['2019-02-27',
   'ADVICE CONFIRMS    RBS27029HE5A9S74   ALFRED P SLOAN FDN',
   '313.40',
   'untagged']],
 [['2019-03-09',
   'CASH SAINSBY MAR09 112-118 King@19:32',
   '-160.00',
   'untagged']],
 [['2018-10-29', 'PAYMENT RECEIVED - THANK YOU', ' -190.70', 'untagged'],
  ['2018-10-16', 'PAYMENT RECEIVED - THANK YOU', ' -232.68', 'untagged'],
  ['2019-01-10', 'PAYMENT RECEIVED - THANK YOU', ' -100.00', 'untagged'],
  ['2019-01-12', 'PAYMENT RECEIVED - THANK YOU', ' -15.00', 'untagged'],
  ['2018-12-18', 'PAYMENT RECEIVED - THANK YOU', ' -119.00', 'untagged'],
  ['2019-01-08', 'PAYMENT RECEIVED - THANK YOU', ' -40.00', 'untagged'],
  ['2019-01-18', 'PAYMENT RECEIVED - THANK YOU', ' -65.00', 'untagged'],
  ['2019-01-05', 'PAYMENT RECEIVED - THANK YOU', ' -300.00', 'untagged'],
  ['2018-10-21', 'PAYMENT RECEIVED - THANK YOU', ' -124.49', 'untagged'],
  ['2018-11-23', 'PAYMENT RECEIVED - THANK YOU', ' -331.00', 'untagged'],
  ['2018-11-03', 'PAYMENT RECEIVED - THANK YOU', ' -54.77', 'untagged'],
  ['2019-01-03', 'PAYMENT RECEIVED - THANK YOU', ' -350.00', 'untagged'],
  ['2019-01-07', 'PAYMENT RECEIVED - THANK YOU', ' -45.00', 'untagged'],
  ['2018-12-09', 'PAYMENT RECEIVED - THANK YOU', ' -136.04', 'untagged'],
  ['2018-11-06', 'PAYMENT RECEIVED - THANK YOU', ' -467.57', 'untagged'],
  ['2018-12-17', 'PAYMENT RECEIVED - THANK YOU', ' -393.17', 'untagged'],
  ['2018-10-24', 'PAYMENT RECEIVED - THANK YOU', ' -258.07', 'untagged'],
  ['2018-12-16', 'PAYMENT RECEIVED - THANK YOU', ' -99.82', 'untagged'],
  ['2019-01-14', 'PAYMENT RECEIVED - THANK YOU', ' -900.00', 'untagged'],
  ['2019-01-14', 'PAYMENT RECEIVED - THANK YOU', ' -500.00', 'untagged'],
  ['2019-01-15', 'PAYMENT RECEIVED - THANK YOU', ' -500.00', 'untagged'],
  ['2018-10-14', 'PAYMENT RECEIVED - THANK YOU', ' -50.00', 'untagged'],
  ['2019-01-06', 'PAYMENT RECEIVED - THANK YOU', ' -200.00', 'untagged'],
  ['2019-01-10', 'PAYMENT RECEIVED - THANK YOU', ' -20.00', 'untagged']],
 [['2018-11-04', 'FRACTURE LLC 0379 GAINESVILLE', ' 145.69', 'untagged']],
 [['2018-10-27', 'ICELAND - HOXTON-SHORED LONDON', ' 4.00', 'untagged']],
 [['2018-10-13', 'IZ *ROUTES COFFEE LIMIT WINCHESTER', ' 6.70', 'untagged']],
 [['2018-10-16', 'WELLCOME COLLECTION LONDON', ' 2.90', 'untagged'],
  ['2018-10-15', 'VERIFONE TAXI SOLUTIONS LONDON', ' 10.12', 'untagged']],
 [['2018-10-15', 'CO-OP GREAT EASTERN STR SHOREDITCH', ' 3.35', 'untagged']],
 [['2018-10-15', 'DINER SPITALFIELDS LONDON', ' 15.00', 'untagged']],
 [['2018-10-18', 'ITUNES.COM/BILL HOLLYHILL', ' 8.99', 'untagged']],
 [['2018-10-15', 'ITSU LONDON', ' 12.34', 'untagged']],
 [['2018-10-14', 'AMAZON.CO.UK AMAZON.CO.UK', ' 6.30', 'untagged']],
 [['2018-10-13', 'MARKS & SPENCER DALST LONDON', ' 21.47', 'untagged']],
 [['2018-12-20', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'],
  ['2018-10-20', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'],
  ['2018-10-26', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'],
  ['2018-10-14', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'],
  ['2018-10-13', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 6.00', 'untagged']],
 [['2018-12-16', 'SBB CFF FFS Bern', ' 200.73', 'untagged'],
  ['2018-12-21', 'SBB CFF FFS Bern', ' -83.95', 'untagged']],
 [['2018-12-20', 'BA.COM UK WEST DRAYTON', ' 115.94', 'untagged'],
  ['2018-12-20', 'BA.COM UK WEST DRAYTON', ' 102.94', 'untagged']],
 [['2018-10-19', 'PRET A MANGER-CITY ROAD LONDON', ' 6.58', 'untagged'],
  ['2018-10-17', 'PRET A MANGER-CITY ROAD LONDON', ' 5.69', 'untagged']],
 [['2018-10-18', 'SUCHEF - EPOS 4 LONDON', ' 4.95', 'untagged']],
 [['2018-10-20', 'AMZN MKTP UK*MT85T1AE4 800-279-6620', ' 7.50', 'untagged']],
 [['2018-12-13', 'GITHUB SAN FRANCISCO', ' 5.77', 'untagged'],
  ['2018-10-13', 'GITHUB GITHUB SAN FRANCISCO', ' 5.48', 'untagged']],
 [['2018-12-16', 'Booking-Corner (M-Soft Lens', ' 159.60', 'untagged']],
 [['2018-10-16', 'BLACKWELL LTD WELLCOME LONDON', ' 27.00', 'untagged']],
 [['2018-10-13', 'THE CHOCOLATE TASTING C ROYSTON', ' 21.04', 'untagged']],
 [['2018-10-19', 'CMT UK LTD - LICENSED T LONDON', ' 15.40', 'untagged']],
 [['2018-12-21', 'GETT GETT UNITED KINGDOM', ' 31.45', 'untagged']],
 [['2018-10-16', 'POD FOOD LONDON', ' 5.25', 'untagged']],
 [['2018-10-12', "DUTY FREE MTL INT'L DUT ST-LAURENT", ' 57.76', 'untagged']]]

In [40]:
len(tagged_list)

236

In [58]:
from collections import defaultdict

In [67]:
tag_suggestions = defaultdict(set) # use set so that we only generate unique items in the suggestions. 
for spend in untagged_list:
    for tagged_spend in tagged_list:
        similar_metric = similar(spend[1], tagged_spend[1])
        if similar_metric > 0.6:
            tag_suggestions[tuple(spend)].add(tagged_spend[3])

# We can now generate suggestions for groups of untagged items

In [71]:
for untagged_group in untagged_groups:
    for spend in untagged_group:
        print(spend, tag_suggestions[tuple(spend)])
    print("")

['2018-12-18', '404758 85579694    INTERNAL TRANSFER', '130.00', 'untagged'] set()
['2018-12-22', '404758 85579694    INTERNAL TRANSFER', '4500.00', 'untagged'] set()
['2019-01-21', '404772 12471736    INTERNAL TRANSFER', '624.00', 'untagged'] set()
['2019-02-19', '404758 85579694    INTERNAL TRANSFER', '300.00', 'untagged'] set()
['2019-02-22', '404758 85579694    INTERNAL TRANSFER', '160.00', 'untagged'] set()

['2018-12-18', 'AMERICAN EXPRESS   WWW.AMERICANE', '-393.17', 'untagged'] set()
['2019-01-04', 'AMERICAN EXPRESS   WWW.AMERICANE', '-350.00', 'untagged'] set()
['2019-01-07', 'AMERICAN EXPRESS   WWW.AMERICANE', '-300.00', 'untagged'] set()
['2019-01-15', 'AMERICAN EXPRESS   WWW.AMERICANE', '-500.00', 'untagged'] set()
['2019-01-15', 'AMERICAN EXPRESS   WWW.AMERICANE', '-900.00', 'untagged'] set()
['2019-01-16', 'AMERICAN EXPRESS   WWW.AMERICANE', '-500.00', 'untagged'] set()
['2019-01-24', 'AMERICAN EXPRESS   WWW.AMERICANE', '-279.06', 'untagged'] set()
['2019-02-12', 'AMERICAN EXPRESS   WWW.AMERICANE', '-311.78', 'untagged'] set()
['2019-02-20', 'AMERICAN EXPRESS   WWW.AMERICANE', '-424.02', 'untagged'] set()
['2019-03-04', 'AMERICAN EXPRESS   WWW.AMERICANE', '-304.13', 'untagged'] set()

['2018-12-19', 'WWW.AMERICANEXPRES BRIGHTON', '-119.00', 'untagged'] set()
['2019-01-07', 'WWW.AMERICANEXPRES BRIGHTON', '-200.00', 'untagged'] set()
['2019-01-08', 'WWW.AMERICANEXPRES BRIGHTON', '-45.00', 'untagged'] set()
['2019-01-09', 'WWW.AMERICANEXPRES BRIGHTON', '-40.00', 'untagged'] set()
['2019-01-11', 'WWW.AMERICANEXPRES BRIGHTON', '-100.00', 'untagged'] set()
['2019-01-11', 'WWW.AMERICANEXPRES BRIGHTON', '-20.00', 'untagged'] set()
['2019-01-14', 'WWW.AMERICANEXPRES BRIGHTON', '-15.00', 'untagged'] set()
['2019-01-14', 'WWW.AMERICANEXPRES BRIGHTON', '-65.00', 'untagged'] set()
['2019-01-21', 'WWW.AMERICANEXPRES BRIGHTON', '-200.00', 'untagged'] set()
['2019-01-21', 'WWW.AMERICANEXPRES BRIGHTON', '-65.00', 'untagged'] set()
['2019-02-11', 'WWW.AMERICANEXPRES BRIGHTON', '-250.00', 'untagged'] set()
['2019-02-25', 'WWW.AMERICANEXPRES BRIGHTON', '-65.14', 'untagged'] set()
['2019-03-11', 'WWW.AMERICANEXPRES BRIGHTON', '-144.16', 'untagged'] set()

['2018-12-20', 'LANTANA SHOREDITCH LONDON  EC1Y', '-4.00', 'untagged'] {'coffee'}
['2019-02-18', 'THE STABLE WHITECH LONDON  E1', '-33.50', 'untagged'] {'climbing', 'coffee'}
['2018-10-19', 'LANTANA LONDON', ' 3.00', 'untagged'] {'coffee', 'household '}
['2018-10-17', 'LANTANA LONDON', ' 2.70', 'untagged'] {'coffee', 'household '}
['2018-11-13', 'LANTANA LONDON', ' 3.00', 'untagged'] {'coffee', 'household '}
['2019-01-10', 'LANTANA LONDON', ' 3.00', 'untagged'] {'coffee', 'household '}
['2018-10-15', 'LANTANA LONDON', ' 3.00', 'untagged'] {'coffee', 'household '}

['2018-12-20', 'PRET A MANGER      OLIVERS YARD', '-7.54', 'untagged'] {'travel'}

['2018-12-21', 'KINGSLAND PHARMACY LONDON', '-17.74', 'untagged'] {'food', 'coffee'}
['2018-12-20', 'POST OFFICE KINGSLAND LONDON', ' 8.04', 'untagged'] set()
['2018-10-13', 'IZ *KINGSLAND ROAD WORK LONDON', ' 10.80', 'untagged'] {'food', 'coffee'}
['2018-12-20', 'IZ *KINGSLAND ROAD WORK LONDON', ' 8.10', 'untagged'] {'food', 'coffee'}

['2018-12-21', 'SAGE PUBLICATIONS', '4938.52', 'untagged'] set()
['2019-01-23', 'SAGE PUBLICATIONS', '4225.04', 'untagged'] set()
['2019-02-22', 'SAGE PUBLICATIONS', '4938.52', 'untagged'] set()

['2018-12-21', 'TRANSFER 85579694', '-4794.22', 'untagged'] set()
['2019-01-21', 'TRANSFER 85579694', '-85.01', 'untagged'] set()
['2019-02-21', 'TRANSFER 85579694', '-37.26', 'untagged'] set()

['2019-01-02', 'OVO ENERGY', '-151.00', 'untagged'] set()
['2019-02-01', 'OVO ENERGY', '-151.00', 'untagged'] set()
['2019-03-01', 'OVO ENERGY', '-120.00', 'untagged'] set()

['2019-01-21', 'COSTA COFFEE       LONDON', '-3.65', 'untagged'] {'coffee', 'travel'}
['2019-02-07', 'COSTCUTTER         LONDON', '-10.83', 'untagged'] {'coffee', 'travel'}
['2019-02-18', 'LA BOUCHE          LONDON  E8 4', '-14.95', 'untagged'] {'coffee', 'travel'}
['2019-02-21', 'COSTCUTTER         LONDON', '-12.54', 'untagged'] {'coffee', 'travel'}
['2019-03-01', 'COSTCUTTER         LONDON', '-8.28', 'untagged'] {'coffee', 'travel'}

['2019-01-21', 'GERMAN DELI        LONDON  E9 5', '-23.30', 'untagged'] {'food', 'coffee', 'travel'}

['2019-01-21', 'HMRC TAX CR CUMBLD 1248669189K', '-623.80', 'untagged'] set()

['2019-01-21', 'MARKET CAFE LONDON LONDON', '-33.86', 'untagged'] set()
['2019-03-11', 'THE BRIDGE (LONDON LONDON', '-17.00', 'untagged'] set()
['2019-03-11', 'THE BRIDGE (LONDON LONDON', '-17.50', 'untagged'] set()

['2019-01-21', 'SINCLAIR DRUMMOND  07487880790', '-18.00', 'untagged'] set()

['2019-01-21', 'THE SNOOTY FOX     HIGHBURY', '-16.94', 'untagged'] set()

['2019-01-21', 'VIRGIN PURE', '-11.96', 'untagged'] {'household'}
['2019-02-28', 'VIRGIN PURE', '-11.96', 'untagged'] {'household'}

['2019-01-23', 'CASH 0018337018    DUBLIN AIRPORT     DUBLIN', '-56.65', 'untagged'] set()

['2019-01-23', 'CHARGE             NON-STERLING       CASH FEE', '-1.75', 'untagged'] set()
['2019-01-25', 'CHARGE             NON-STERLING       CASH FEE', '-1.75', 'untagged'] set()

['2019-01-23', "INT'L 0018337014   BERNARD SHAW       DUBLIN 2           EUR 22.90 @ 1.1325  Visa Rate", '-20.22', 'untagged'] {'travel'}
['2019-01-23', "INT'L 0018337015   Cassidys           Dublin 2           EUR 10.40 @ 1.1316  Visa Rate", '-9.19', 'untagged'] {'travel'}
['2019-01-23', "INT'L 0018337016   Cassidys           Dublin 2           EUR 10.40 @ 1.1316  Visa Rate", '-9.19', 'untagged'] {'travel'}
['2019-01-23', "INT'L 0018337017   AWESOME WALLS CLIM DBLIN 11           EUR 13.00 @ 1.1324  Visa Rate", '-11.48', 'untagged'] {'travel'}
['2019-01-25', 'CASH 0029823262    ULSTER BANK   /    DUB HARCOURT       EUR 60.00 @ 1.1459  Visa Rate', '-52.36', 'untagged'] set()
['2019-01-25', "INT'L 0029823260   THE LOOP T1        CO DUBLIN          EUR 20.50 @ 1.1458  Visa Rate", '-17.89', 'untagged'] set()
['2019-01-25', "INT'L 0029823261   THE LOOP T1        CO DUBLIN          EUR 70.00 @ 1.1458  Visa Rate", '-61.09', 'untagged'] {'travel'}
['2019-01-28', "INT'L 0036556022   57 THE HEAD LINE   DUBLIN CITY        EUR 5.50 @ 1.1506   Visa Rate", '-4.78', 'untagged'] set()

['2019-01-23', 'KINGFISHER WHITE   KWSP3083', '-177.08', 'untagged'] set()

['2019-01-25', 'Non-Sterling       Transaction Fee', '-0.49', 'untagged'] {'travel'}
['2019-01-25', 'Non-Sterling       Transaction Fee', '-1.43', 'untagged'] {'travel'}
['2019-01-25', 'Non-Sterling       Transaction Fee', '-1.67', 'untagged'] {'travel'}

['2019-01-28', 'H3G', '-15.35', 'untagged'] {'phone'}
['2019-02-28', 'H3G', '-185.84', 'untagged'] {'phone'}

['2019-01-28', 'INDIGO AT OSM      LONDON  E3', '-6.95', 'untagged'] {'travel'}
['2019-03-04', 'INDIGO AT OSM      LONDON  E3', '-6.95', 'untagged'] {'travel'}

['2019-01-28', 'THE BARREL BOULANG LONDON', '-19.70', 'untagged'] set()

['2019-02-01', 'CBS 17864235', '-1264.32', 'untagged'] {'household '}
['2019-03-01', 'CBS 17864235', '-1264.32', 'untagged'] {'household '}

['2019-02-01', 'OPEN RIGHTS GROUP  MULVA 136', '-5.00', 'untagged'] {'geek'}

['2019-02-01', 'TAXASSIST ACCOUNTS', '-39.50', 'untagged'] {'household '}
['2019-03-01', 'TAXASSIST ACCOUNTS', '-39.50', 'untagged'] {'household '}

['2019-02-01', 'THAMES WATER', '-41.44', 'untagged'] {'household '}
['2019-03-01', 'THAMES WATER', '-41.44', 'untagged'] {'household '}

['2019-02-01', 'TV LICENCE MBP', '-12.83', 'untagged'] {'household '}
['2019-03-01', 'TV LICENCE MBP', '-12.83', 'untagged'] {'household '}

['2019-02-04', 'BMC', '-33.95', 'untagged'] set()

['2019-02-04', 'PC/GROVE and DEAN', '-27.14', 'untagged'] {'household '}
['2019-03-04', 'PC/GROVE and DEAN', '-27.14', 'untagged'] {'household '}

['2019-02-04', 'RTB SERVICE CHARGE', '-179.39', 'untagged'] {'household '}
['2019-03-04', 'RTB SERVICE CHARGE', '-179.39', 'untagged'] {'household '}

['2019-02-06', 'AVIVA HEALTH', '-172.22', 'untagged'] {'household '}
['2019-02-11', 'AVIVA LIFE', '-20.73', 'untagged'] {'household '}
['2019-02-11', 'AVIVA LIFE', '-7.67', 'untagged'] {'household '}
['2019-03-06', 'AVIVA HEALTH', '-172.22', 'untagged'] {'household '}
['2019-03-11', 'AVIVA LIFE', '-20.73', 'untagged'] {'household '}
['2019-03-11', 'AVIVA LIFE', '-7.67', 'untagged'] {'household '}

['2019-02-06', 'GIOIA MOSLER       MAINTENENCE', '-400.00', 'untagged'] set()
['2019-02-22', 'GIOIA MOSLER       MAINTENENCE', '-900.00', 'untagged'] set()
['2019-03-08', 'GIOIA MOSLER       MAINTENENCE', '-100.00', 'untagged'] set()

['2019-02-11', 'REVOLUT*7426*      REVOLUT.COM', '-60.00', 'untagged'] set()
['2019-02-25', 'REVOLUT*           REVOLUT.COM', '-660.00', 'untagged'] set()
['2019-02-28', 'REVOLUT*           REVOLUT.COM', '-320.00', 'untagged'] set()

['2019-02-12', 'BARCLAYS PRTNR FIN', '-48.95', 'untagged'] {'phone'}

['2019-02-12', 'BT GROUP PLC', '-69.49', 'untagged'] {'household '}

['2019-02-13', 'CASH NOTEMAC FEB13 Melliferu Ka@23:30', '-60.00', 'untagged'] {'household '}
['2019-02-20', 'CASH NOTEMAC FEB20 Melliferu Ka@22:38', '-40.00', 'untagged'] {'household '}
['2019-03-03', 'CASH NOTEMAC MAR03 Melliferu Ka@10:55', '-40.00', 'untagged'] {'household '}
['2019-03-06', 'CASH NOTEMAC MAR06 Melliferu Ka@21:55', '-20.00', 'untagged'] {'household '}

['2019-02-20', 'CYCLEHOOP RENTALS  LONDON', '-20.00', 'untagged'] {'lunch'}
['2019-03-04', 'CYCLEHOOP RENTALS  LONDON', '-2.50', 'untagged'] {'lunch'}
['2018-10-20', 'CO-OP OLD STREET LONDON', ' 1.30', 'untagged'] {'lunch'}

['2019-02-21', 'BETTER EQUIPPED    NANTWICH', '-26.96', 'untagged'] set()

['2019-02-22', 'UNA BELLA VITA LTD LONDON', '-93.83', 'untagged'] {'food'}

['2019-02-23', 'MOSLER A C G       FLIGHT', '600.00', 'untagged'] set()

['2019-02-25', 'BREAD AND BUTTER   LONDON', '-35.35', 'untagged'] {'household '}
['2018-10-19', 'BROADWAY HAIR LONDON', ' 20.00', 'untagged'] {'lunch', 'household '}

['2019-02-25', 'WWW.RMG.CO.UK      WWW', '-21.35', 'untagged'] set()

['2019-02-27', 'ADVICE CONFIRMS    RBS27029HE5A9S74   ALFRED P SLOAN FDN', '313.40', 'untagged'] set()

['2019-03-09', 'CASH SAINSBY MAR09 112-118 King@19:32', '-160.00', 'untagged'] set()

['2018-10-29', 'PAYMENT RECEIVED - THANK YOU', ' -190.70', 'untagged'] set()
['2018-10-16', 'PAYMENT RECEIVED - THANK YOU', ' -232.68', 'untagged'] set()
['2019-01-10', 'PAYMENT RECEIVED - THANK YOU', ' -100.00', 'untagged'] set()
['2019-01-12', 'PAYMENT RECEIVED - THANK YOU', ' -15.00', 'untagged'] set()
['2018-12-18', 'PAYMENT RECEIVED - THANK YOU', ' -119.00', 'untagged'] set()
['2019-01-08', 'PAYMENT RECEIVED - THANK YOU', ' -40.00', 'untagged'] set()
['2019-01-18', 'PAYMENT RECEIVED - THANK YOU', ' -65.00', 'untagged'] set()
['2019-01-05', 'PAYMENT RECEIVED - THANK YOU', ' -300.00', 'untagged'] set()
['2018-10-21', 'PAYMENT RECEIVED - THANK YOU', ' -124.49', 'untagged'] set()
['2018-11-23', 'PAYMENT RECEIVED - THANK YOU', ' -331.00', 'untagged'] set()
['2018-11-03', 'PAYMENT RECEIVED - THANK YOU', ' -54.77', 'untagged'] set()
['2019-01-03', 'PAYMENT RECEIVED - THANK YOU', ' -350.00', 'untagged'] set()
['2019-01-07', 'PAYMENT RECEIVED - THANK YOU', ' -45.00', 'untagged'] set()
['2018-12-09', 'PAYMENT RECEIVED - THANK YOU', ' -136.04', 'untagged'] set()
['2018-11-06', 'PAYMENT RECEIVED - THANK YOU', ' -467.57', 'untagged'] set()
['2018-12-17', 'PAYMENT RECEIVED - THANK YOU', ' -393.17', 'untagged'] set()
['2018-10-24', 'PAYMENT RECEIVED - THANK YOU', ' -258.07', 'untagged'] set()
['2018-12-16', 'PAYMENT RECEIVED - THANK YOU', ' -99.82', 'untagged'] set()
['2019-01-14', 'PAYMENT RECEIVED - THANK YOU', ' -900.00', 'untagged'] set()
['2019-01-14', 'PAYMENT RECEIVED - THANK YOU', ' -500.00', 'untagged'] set()
['2019-01-15', 'PAYMENT RECEIVED - THANK YOU', ' -500.00', 'untagged'] set()
['2018-10-14', 'PAYMENT RECEIVED - THANK YOU', ' -50.00', 'untagged'] set()
['2019-01-06', 'PAYMENT RECEIVED - THANK YOU', ' -200.00', 'untagged'] set()
['2019-01-10', 'PAYMENT RECEIVED - THANK YOU', ' -20.00', 'untagged'] set()

['2018-11-04', 'FRACTURE LLC 0379 GAINESVILLE', ' 145.69', 'untagged'] set()

['2018-10-27', 'ICELAND - HOXTON-SHORED LONDON', ' 4.00', 'untagged'] set()

['2018-10-13', 'IZ *ROUTES COFFEE LIMIT WINCHESTER', ' 6.70', 'untagged'] set()

['2018-10-16', 'WELLCOME COLLECTION LONDON', ' 2.90', 'untagged'] set()
['2018-10-15', 'VERIFONE TAXI SOLUTIONS LONDON', ' 10.12', 'untagged'] set()

['2018-10-15', 'CO-OP GREAT EASTERN STR SHOREDITCH', ' 3.35', 'untagged'] {'coffee'}

['2018-10-15', 'DINER SPITALFIELDS LONDON', ' 15.00', 'untagged'] set()

['2018-10-18', 'ITUNES.COM/BILL HOLLYHILL', ' 8.99', 'untagged'] {'geek', 'gifts', 'entertainment '}

['2018-10-15', 'ITSU LONDON', ' 12.34', 'untagged'] {'household', 'coffee', 'lunch'}

['2018-10-14', 'AMAZON.CO.UK AMAZON.CO.UK', ' 6.30', 'untagged'] {'gifts', 'kids'}

['2018-10-13', 'MARKS & SPENCER DALST LONDON', ' 21.47', 'untagged'] set()

['2018-12-20', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'] {'travel ', 'travel'}
['2018-10-20', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'] {'travel ', 'travel'}
['2018-10-26', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'] {'travel ', 'travel'}
['2018-10-14', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 3.00', 'untagged'] {'travel ', 'travel'}
['2018-10-13', 'TFL TRAVEL CHARGE TFL.GOV.UK/CP', ' 6.00', 'untagged'] {'travel ', 'travel'}

['2018-12-16', 'SBB CFF FFS Bern', ' 200.73', 'untagged'] set()
['2018-12-21', 'SBB CFF FFS Bern', ' -83.95', 'untagged'] set()

['2018-12-20', 'BA.COM UK WEST DRAYTON', ' 115.94', 'untagged'] set()
['2018-12-20', 'BA.COM UK WEST DRAYTON', ' 102.94', 'untagged'] set()

['2018-10-19', 'PRET A MANGER-CITY ROAD LONDON', ' 6.58', 'untagged'] {'lunch', 'coffee', 'travel'}
['2018-10-17', 'PRET A MANGER-CITY ROAD LONDON', ' 5.69', 'untagged'] {'lunch', 'coffee', 'travel'}

['2018-10-18', 'SUCHEF - EPOS 4 LONDON', ' 4.95', 'untagged'] set()

['2018-10-20', 'AMZN MKTP UK*MT85T1AE4 800-279-6620', ' 7.50', 'untagged'] {'gifts'}

['2018-12-13', 'GITHUB SAN FRANCISCO', ' 5.77', 'untagged'] {'geek'}
['2018-10-13', 'GITHUB GITHUB SAN FRANCISCO', ' 5.48', 'untagged'] {'geek'}

['2018-12-16', 'Booking-Corner (M-Soft Lens', ' 159.60', 'untagged'] set()

['2018-10-16', 'BLACKWELL LTD WELLCOME LONDON', ' 27.00', 'untagged'] set()

['2018-10-13', 'THE CHOCOLATE TASTING C ROYSTON', ' 21.04', 'untagged'] {'food'}

['2018-10-19', 'CMT UK LTD - LICENSED T LONDON', ' 15.40', 'untagged'] {'taxi'}

['2018-12-21', 'GETT GETT UNITED KINGDOM', ' 31.45', 'untagged'] {'gifts', 'taxi'}

['2018-10-16', 'POD FOOD LONDON', ' 5.25', 'untagged'] {'lunch', 'food', 'household'}

['2018-10-12', "DUTY FREE MTL INT'L DUT ST-LAURENT", ' 57.76', 'untagged'] set()